/* Error: Expected identifier.
 *    ,
 * 96 |       @for $i from 2 through 12 {.col-2:{
 *    |                                         ^
 *    '
 *   scss\component\_grid.scss 96:41  @import
 *   scss\styles.scss 9:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 96 \2502        @for $i from 2 through 12 {.col-2:{\d\a    \2502                                          ^\a    \2575 \a   scss\\component\\_grid.scss 96:41  @import\a   scss\\styles.scss 9:9             root stylesheet";
}
